<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página incial</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body id="dashboard">
  <div>
    <h2 class="h2">Olá, <%= user %>! Obrigado por ter visto esse projeto!</h2>
  </div>
  <div>
    <p class="paragrafo">Nesse projeto, aprendi bastante a utilizar a tecnologia node js, core modules e modules externos. Utilizei o mongodb para capturar os dados dos inputs do lado do cliente para fazer a autenticação do formulário de login, 
      utilizando o bcrypt para criptografia nos dados e diversas outras tecnologias que o Node Js tem a nos oferecer. 
      Caso queira me contatar, abaixo contém o link para o meu Whatsapp.</p>  
  </div>
  <div id="button-whatsapp">
  <a class="button-whatsapp" href="https://api.whatsapp.com/send?1=pt_BR&phone=5581973180261">inicie uma conversa no Whatsapp</a>
  </div>  
</body>
</html>